# Rust
/target/

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
.env
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example

# Editor
.vscode/
.idea/

# OS
.DS_Store
